@media only screen and {
  (max-width: 620;) {
    width: 100%;
  }
}

body {
  background-color: #0478d6;
}

/* .section3 {
  display: flex;
  margin: auto;
  background-color: #0478d6;
  max-width: 100%;
  height: 100vh;
} */

/* .section4 {
  max-width: 100%;
  height: 100vh;
  background-color: #0478d6;
} */

.container {
  flex-direction: column-reverse;
}

.junior {
  margin-left: 20rem;
  margin-right: 20rem;
  margin-bottom: 7.5rem;
  color: white;
  font-size: 1.4rem;
}

.junior4 {
  margin-left: 20rem;
  margin-right: 20rem;
  margin-bottom: 7.5rem;
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
}

.centered {
  color: white;
  font-size: 29px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#vader {
  background-image: linear-gradient(to bottom, rgb(43, 157, 165), rgba(131, 231, 224, 0.202)), url("vio3.jpg");

  max-width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  color: white;
  cursor: default;
  padding: 40px;
  padding-top: 200px;
  text-align: center;
  font-size: 23px;
}

.like {
  cursor: default;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

h1 {
  margin: auto;
  color: black;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
  width: 530px;
  padding: 1rem;
  white-space: nowrap;
}

h4 {
  margin: auto;
  color: black;
  font-size: 18px;
  text-align: center;
  cursor: default;
}

h1:after {
  display: block;
  content: "";
  border-bottom: solid 1px #000000;
  padding-bottom: 1%;
  transform: scaleX(0);
  transition: transform 350ms ease-in-out;
}

h1:hover:after {
  transform: scaleX(0.3);
}

ul {
  margin: 5%;
  width: 200px;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 5px 0;
  border-radius: 15px;
}

li {
  margin: auto;
  color: #000000;
  font-size: 17px;
  cursor: pointer;
}

li:after {
  display: block;
  content: "";
  border-bottom: solid 1px #000000;
  padding-bottom: 1%;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}
li:hover:after {
  transform: scaleX(1);
}

.col {
  margin-right: 0;
  margin-left: 0;
}

.footer {
  position: absolute;
  width: 100%;
  padding: 1rem;
  background-color: #1a2238;
  color: #3e5c76;
}
.footer1 {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: #1a2238;
  color: #3e5c76;
}

.footer2 {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: #1a2238;
  color: #3e5c76;
}

.lead {
  font-size: 13px;
}

h2 {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.34);
}

h3 {
  font-size: 20px;
}

h5 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.34);
}

.content {
  text-align: center;
  font-size: 25px;
  color: black;
}
